.main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main>div {
  flex: 1;
  margin: 0 10px;
  min-width: 200px;
}

h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

.follow ul {
  display: flex;
  gap: 10px;
}

.follow li {
  font-size: 24px;
  /* Increase icon size */
}

.follow li:hover {
  color: #007bff;
  cursor: pointer;
}

.EcoVeg ul li:hover,
.quick_Link ul li:hover,
.customer_service ul li:hover {
  color: #007bff;
  cursor: pointer;
}

.subscribe_us {
  text-align: center;
}

.subscribe_us h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.subscribe_us p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.subscribe_us input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscribe_us button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe_us button:hover {
  background-color: #0056b3;
}

/* logincss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .main>div {
    margin: 10px 0;
    width: 100%;
  }

  .subscribe_us input[type="text"] {
    width: 90%;
  }
}

@media (max-width: 480px) {
  h4 {
    font-size: 16px;
  }

  li {
    font-size: 14px;
  }

  .follow li {
    font-size: 20px;
    /* Adjust icon size for small screens */
  }

  .subscribe_us p {
    font-size: 14px;
  }

  .subscribe_us input[type="text"] {
    width: 95%;
    font-size: 14px;
  }

  .subscribe_us button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .login-box {
    width: 300px;
  }
}