
.carousel-container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    padding: 30px;
    gap: 28px;
}

.category-item {
    flex: 0 0 auto;
    width: 200px;
    height: 220px;
    align-items: center;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 10px;
    transition: .5s ease;
}

.wrapper-category {
    width: 100%;
    height: auto;
    background-color: rgb(247, 245, 242);
    padding: 30px;
}

.wrapper-category p {
    font-weight: bold;
}

.wrapper-category .category-list {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
}


.category-outer-img {
    display: flex;
    justify-content: center;
}

.category-item-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all .5s;
}

.category-item-img:hover {
    transform: scale(1.1);
}

.category-item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.category-item-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.carousel::-webkit-scrollbar {
    height: 0px;
}

.carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}