* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding: 30px;
    background-color: #000;
    color: #fff;
}


.first-h2 {
    color: rgb(108 179 83);
    font-weight: bold;
    font-size: 60px;
}

.second-h2,
.third-h2 {
    font-size: 60px;
    font-weight: normal;
}

.wrapper-p {
    margin-top: 20px;
    font-size: 2rem;
    color: #dcd1d1;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3em;
    color: #333;
}

.hero-content h1 span {
    color: #333;
    font-weight: bold;
}


.cta-buttons {
    margin: 40px 0;
    gap: 20px;
}


.start-shopping {
    background-color: #28a745;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.join-now {
    background-color: #fff;
    color: black;
    margin-left: 30px;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.stats {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.stats .stats-span {
    font-weight: bold;
    font-size: 40px;
}

.stats-outer {
    display: flex;
}

.stats .stats-item {
    font-weight: normal;
    font-size: 25px;
}

.stats div {
    text-align: center;
}

.stats strong {
    display: block;
    font-size: 2em;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .hero-section {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
        padding: 30px;
    }

    .hero-image {
        margin-top: 20px;
    }

    .cta-buttons {
        justify-content: space-around;
        padding: 30px;
    }

    .join-now {
        margin-left: 40px;
    }


    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stats-outer {
        justify-content: center;
        gap: 30px;
    }

    .stats .stats-item {
        font-size: 35px;
    }
}

@media (max-width: 768px) {

    .first-h2,
    .second-h2,
    .third-h2 {
        font-size: 40px;
    }

    .wrapper-p {
        font-size: 1.5rem;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .stats .stats-span {
        font-size: 30px;
    }

    .stats .stats-item {
        font-size: 20px;
    }

    .stats strong {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {

    .first-h2,
    .second-h2,
    .third-h2 {
        font-size: 30px;
    }

    .wrapper-p {
        font-size: 1.2rem;
    }

    .hero-content h1 {
        font-size: 1.5em;
    }

    .start-shopping,
    .join-now {
        padding: 15px 20px;
    }

    .stats .stats-span {
        font-size: 25px;
    }

    .stats .stats-item {
        font-size: 18px;
    }

    .stats strong {
        font-size: 1.2em;
    }
}

@media (max-width: 530px) {
    .cta-buttons {
        display: flex;
        flex-direction: column;

    }

    .join-now {
        margin-left: 3px;
    }
}