.loading-wrapper {
    position: fixed;
    height: 90dvh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.loading-wrapper .loading {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    align-items: center;

}