.loading-wrapper {
    position: fixed;
    height: 90dvh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.loading-wrapper .loading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}